<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="omda.project.emad.me">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ticket"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logofb"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="omda.project.emad.me.Details"
            android:label="@string/title_activity_main2"></activity>
        <activity
            android:name="omda.project.emad.me.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="omda.project.emad.me.Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="omda.project.emad.me.Edit">

        </activity>
    </application>

</manifest>